@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
/* BlinkingCursor.css */
/* BlinkingCursor.css */
@keyframes cursorBlink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 2px; /* Adjust the width of the cursor as needed */
  height: 0.8em; /* Adjust the height of the cursor as needed */
  background-color: white; /* Adjust the cursor color */
  animation: cursorBlink 1s infinite;
  position: relative;
}
